<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- TITLE -->
	<title>Vue To Do List</title>
	<!-- LINK -->
	<!-- Font -->
	<!-- serif -->

	<!-- sans-serif -->

	<!-- Font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Boostrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<!-- Style -->
	<link rel="stylesheet" href="./css/style.css">
	<!-- JAVASCRIPT-Vue -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<!-- My-JS -->
	<script type="text/javascript" src="./js/script.js" defer></script>

</head>

<body>
	<div id="root">
		<div class="all-in">

			<div class="container">

				<div class="nav-bar container-nav d-flex justify-content-center mt-3">
					<a class="nav-logo" href="#">
						<img src="./img/Logo.png" alt="logo">
					</a>
				</div>
			</div>
			<div class="container main-area mt-3">
				<div v-if="error" class="alert alert-danger" role="alert">
					Inserisci almeno 4 caratteri!
				</div>
				<!-- INPUT & BUTTON -->
				<h2>Add Tasks</h2>
				<div class="input-group mb-3">
					<!-- Prendi il valore text in newTask -->
					<input @keyUp.enter="addTask()" v-model="newTask.text" type="text" class="form-control form-input"
						placeholder="New Task" aria-label="Recipient's username" aria-describedby="button-addon2">
					<!-- Button al click aggiungi la new Task- AGGIUNGI-->
					<button @click="addTask()" class="btn add-task-btn" type="button" id="button-addon2">Add
						Task</button>
				</div>
				<!-- TASKS -->
				<h3>Tasks</h3>
				<div class="tasks">

					<ol class="list-group list-group-numbered">
						<!-- per ogni task, index dell'oggetto Tasks -->

						<li v-for="(task, index) in tasks" class="list-group-item d-flex align-items-center">
							<span :class="((newTask.done)?'did-it': '')">{{task.text}}</span>



							<div class="icons d-flex align-items-center  ms-auto">
								<!-- Sbarra l'elemento - SBARRA -->
								<span @click="doneTask(task, index)" class="badge done rounded-pill d-flex"><i
										class="fa-solid fa-circle-check"></i></span>

								<!-- Rimuovi elemento - RIMUOVI -->
								<span @click="removeTask(index)" class="badge cancel rounded-pill d-flex"><i
										class="fa-solid fa-trash-can"></i></span>
							</div>
						</li>

					</ol>
				</div>


			</div>
		</div>


	</div>


</body>

</html>